.loading {
  width: 240px;
  text-align: center;
  padding: 30px;
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.loading_span {
  font-weight: 600;
}

.loading .loading_progress {
  background-color: #F2F2F2;
  border-radius: 10px;
  height: 5px;
}

.loading .loading_progress .loading_progress_bar {
  position: relative;
  margin-top: 30px;
  height: 5px;
  background-color: #2F80ED;
  border-radius: 10px;
  animation: progressBar 1s ease infinite;
}

@keyframes progressBar {
  0% {
    width: 30%;
    transform: translate(0);
  }
  100% {
    width: 30%;
    transform: translateX(230%);
  }
}
